// _contacto.scss
@use 'variables' as v;
@use 'mixins';
@use 'placeholders';
@use 'maps';
@use "sass:map";

// Sección contacto
.contacto {
max-width: 600px;
margin: 40px auto;
background: map.get(maps.$colors, texto-claro);
padding: 25px;
border-radius: v.$radio-borde;
@include mixins.sombra(card);

h1 {
    @extend %titulo-base;
    font-size: map.get(maps.$font-sizes, h1);
    color: map.get(maps.$colors, secundario);
    margin-bottom: v.$padding-seccion;
}

form {
    label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: map.get(maps.$colors, texto);
    }

    input[type="text"],
    input[type="email"],
    textarea {
    width: 100%;
    padding: v.$padding-general;
    border-radius: v.$radio-borde;
    margin-bottom: 15px;
    font-size: v.$tamaño-texto;
    border: 1px solid map.get(maps.$colors, borde);
    }

    input[type="submit"] {
    @extend %btn-base;
    @include mixins.boton(map.get(maps.$colors, primario));
    padding: 12px 20px;
    font-size: v.$tamaño-texto;
    }
}
}

// Sección info adicional
.subtitulo {
@extend %titulo-base;
font-size: map.get(maps.$font-sizes, h2);
margin: 30px 0 15px;
color: #444; 
}

section {
p, h3 {
    text-align: center;
    margin: 8px 0;
    color: map.get(maps.$colors, texto);
}
}
@include mixins.responsive(mobile) {
.contacto {
    margin: 20px auto;
    padding: 15px;
    max-width: 95%;
}
}
