// _nosotros.scss
@use 'variables' as v;
@use 'mixins';
@use 'placeholders';
@use 'maps';
@use "sass:map";

// Sección "Nosotros"
.nosotros {
  background-color: map.get(maps.$colors, fondo-claro);
  text-align: center;
  padding: v.$padding-seccion;

  p {
    font-size: map.get(maps.$font-sizes, texto);
    color: map.get(maps.$colors, texto);
    padding: v.$padding-general;
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: v.$radio-borde;
    @include mixins.sombra(card);
  }
}
@include mixins.responsive(mobile) {
  .nosotros img {
    width: 90%;
  }
}

.nosotros img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.nosotros img:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}